<%- include('../partials/header') %>

<h1>Aplicação de Exemplo</h1>

<a href="funcionarios/cadastro">Cadastrar</a><br/>
<a href="funcionarios/exclusao">Exclusão</a><br/>
<a href="funcionarios/lista">Lista</a><br/>
<a href="funcionarios/busca">Busca e Alteração</a><br/>

<%- include('../partials/footer') %>